/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  height: 60%;
}
#submap {
    height: 40%;
  }

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin-left: 15px;
  margin-right: 15px;
  padding: 0;
}